.header {
  position: fixed;
  z-index: 10;
  background-color: var(--bg-primary);
  top: 0;
  right: 0;
  border-bottom: 1px solid #e9eff6;
  width: 84%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.circle-indicator {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  right: 35px;
  background: #12b569;
  border: 2px solid #fff;

  &.pulse {
    animation: pulse-animation 1.2s 3;
  }
}

.circle-indicator.offline {
  background: #ccc;
  border: 2px solid #fff;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0 rgb(18, 181, 105);
  }
  100% {
    box-shadow: 0 0 0 13px rgb(192, 249, 222);
  }
}

.head-menu-item {
  .head-menu-item-btn {
    font-size: 18px;
    height: 42px;
    width: 42px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 50%;
    margin-left: 5px;
    outline: 0;
    color: #495057;
  }
}

.head-menu-item:hover,
.head-menu-item:focus {
  background: #f2f5ff;
  border-radius: 50%;
}

.alarm-icon {
  margin: 0 10px;
}

.profile-container {
  display: flex;
  gap: 20px;
}

.avatar {
  margin-right: 30px;
}
::-webkit-scrollbar {
  width: 8px;
  margin-right: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #eaecf0;
}

::-webkit-scrollbar-corner {
  background-color: #fff;
}

.overlay-notification {
  width: 100%;
  height: 300px;
  overflow-y: auto;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  ul {
    list-style: none;
    width: 350px;
  }
  li {
    padding: 1rem;

    &.notification-head-container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .notification-head {
        font-size: 15px;
        color: #495057;
      }

      .view-all-link {
        font-size: 80%;
        color: #1a1f36;
        cursor: pointer;
      }
    }

    &.notification-message-container {
      cursor: pointer;
      display: flex;
    }

    .notification-subject {
      margin-bottom: 0.25rem;
      font-size: 14px;
      color: #344054;
      margin-left: 20px;
    }

    .notification-desc {
      font-size: 12px;
      color: #74788d;
      margin-left: 20px;
    }

    .notification-time {
      margin-bottom: 0.25rem;
      font-size: 12px;
      color: #344054;
      margin-left: 20px;
    }

    .notif-msg {
      display: flex;
    }

    .name {
      color: blue;
    }

    &:hover {
      background: #f2f5ff;
    }
  }
}

.info-container {
  font-size: 12px;
  background: #e8edff;
  color: #4a72ff;
  height: 5vh;
}

.info {
  display: flex;
  margin-left: 20px;
  padding: 0.625rem;
  gap: 15px;
}

@media only screen and (max-height: 700px) {
  .header {
    position: fixed;
    z-index: 10;
    background-color: var(--bg-primary);
    top: 0;
    right: 0;
    border-bottom: 1px solid #e9eff6;
    width: 84%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .info-container {
    font-size: 12px;
    background: #e8edff;
    color: #4a72ff;
    height: 8vh;
  }

  .circle-indicator {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    position: absolute;
    top: 45px;
    right: 32px;
    background: #12b569;
    border: 2px solid #fff;

    &.pulse {
      animation: pulse-animation 1.2s 3;
    }
  }

  .circle-indicator.offline {
    background: #ccc;
    border: 2px solid #fff;
  }

  @keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0 rgb(18, 181, 105);
    }
    100% {
      box-shadow: 0 0 0 13px rgb(192, 249, 222);
    }
  }
}
