header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  padding: 14px 24px 14px 0px;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
  font-family: 'LexendBold';
}

.buttons-wrapper {
  display: flex;
  gap: 10px;
}

.toggles {
  font-size: 0.8rem;
  display: flex;
  border-bottom: 1.5px solid #e4e7ec;

  & > h3 {
    padding: 16px 18px 16px 18px;
    cursor: pointer;
    border-radius: 16px 16px 0px 0px;

    &.active {
      color: #0f3cd9;
      border-bottom: 3px solid #0f3cd9;
    }
  }
}
