<div [class]="modalClasses">
  <header>
    <span (click)="close()">
      <img src="assets/images/user/x-close.svg" alt="close icon" />
    </span>
    <h2>Employee</h2>
    <div class="user-details">
      <div>
        <img src="assets/images/user/avatar.svg" alt="avatar" />
        <section>
          <h4>{{ user.firstName }} {{ user.lastName }}</h4>
          <p>{{ user.email }}</p>
          <!-- <p>UI/UX Designer</p> -->
          <!-- <div class="availability">
            <p>Available</p>
          </div> -->
        </section>
      </div>
      <p>Edit</p>
    </div>
  </header>
  <hr />
  <main>
    <div class="toggles">
      <h3
        [class]="display === 'general' ? 'active' : ''"
        (click)="display = 'general'">
        General
      </h3>
      <h3
        [class]="display !== 'general' ? 'active' : ''"
        (click)="display = 'normal-avaliability'">
        Normal Availability
      </h3>
    </div>
    @if (display === 'general') {
    <div class="d-grid">
      <div class="key">Specialization</div>
      <div
        class="value"
        style="text-transform: capitalize"
        *ngFor="let specialization of user.specializations[0] | keyvalue">
        {{ specialization.value }}
      </div>
      <div class="key">User Role</div>
      <div class="value">{{ user.roles }}</div>
      <div class="key">Phone Number</div>
      <div class="value">{{ user.phoneNumber }}</div>
      <div class="key">Skill</div>

      <div class="value" *ngFor="let skill of user.skills[0] | keyvalue">
        {{ skill.value }}
      </div>
      <div class="key">Bookable</div>
      <div class="value" style="text-transform: capitalize">
        {{ user.bookable }}
      </div>
      <div class="key">Assigned Project</div>
      <div class="value">{{ user.project }}</div>
      <div class="key">Assigned Client</div>
      <div class="value">{{ user.client }}</div>
      <div class="key">Time Zone</div>
      <div class="value">{{ user.timeZone }}</div>
      <div class="key">Created At</div>
      <div class="value">{{ user.created_at }}</div>
    </div>
    } @else if (display === 'normal-avaliability') {
    <div>
      <h5>Weeky total: 168h</h5>
    </div>
    }
  </main>
</div>
<div [class]="backdropClasses" (click)="close()"></div>
