/**********  Modal **********/
.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: auto;
  background-color: white;
  border-radius: 12px;
  padding: 24px;
  z-index: 21;
  opacity: 1;

  &.closed,
  &.opening {
    opacity: 0;
    pointer-events: none;
  }
}

* {
  transition: all 0.3s ease-in-out;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(203, 212, 225, 0.4);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;

  &.closed,
  &.opening {
    opacity: 0;
    pointer-events: none;
  }
}

header {
  display: block;
}

span {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

main > div:last-of-type {
  min-height: 294px;
}

/**********  User Details **********/
h2 {
  font-size: 1.375rem;
  margin-top: -20px;
  color: #3d4a5c;
  font-family: 'LexendBold';
}

div.user-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  margin-top: 12px;

  & section {
    & > h4 {
      font-size: 1rem;
    }

    & > p {
      font-size: 0.875rem;
      color: #5e718d;
    }
    /* .availability {
      width: 200px;
      height: 40px;
      background: #11a75c;
      color: #fff;
      border-radius: 6px;
      font-size: 12px;
      text-align: center;
    } */
  }

  & > div {
    display: flex;
  }

  & img {
    width: 64px;
    height: 64px;
    margin-right: 20px;
  }
  & > p {
    font-size: 1rem;
    padding: 4px 8px 4px 8px;
    width: auto;
    border-radius: 6px;
    background: #f2f5ff;
    color: #0f3cd9;
    display: flex;
    align-self: flex-start;
    cursor: pointer;
  }
}

/**********  General **********/
.d-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  row-gap: 8px;
  column-gap: 40px;
  padding: 0px 44px 20px 44px;

  & > .key,
  & > .value {
    font-size: 0.875rem;
  }

  & > .value {
    color: #5e718d;
  }
}

.toggles {
  font-size: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 20px 0px 20px;
  margin: 20px 0px 20px 0px;

  & > h3 {
    padding: 16px 18px 16px 18px;
    cursor: pointer;
    border-radius: 16px 16px 0px 0px;

    &.active {
      color: #0f3cd9;
      background: #e8edff;
    }
  }
}

/**********  Normal Availability **********/
h5 {
  font-size: 1rem;
  color: #3d4a5c;
}
