.delete-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--Background-Overlay, rgba(203, 212, 225, 0.4));
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.delete-modal-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 20%;
  text-align: center;
}

.button-container {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.buttons-wrapper {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.actions-button {
  padding: 12px 16px;
  border-radius: 16px;
  border: 1px solid #9aa8bc;
  width: 100px;
  cursor: pointer;
}

@media only screen and (max-height: 700px) {
  .delete-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--Background-Overlay, rgba(203, 212, 225, 0.4));
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
  }

  .delete-modal-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 30%;
    text-align: center;
  }

  .buttons-wrapper {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
  }
}
