<h2>Welcome</h2>
<p>Finish setting up your RM.io account</p>
<form (submit)="submitForm($event)" [formGroup]="userDetails">
  <!------    Profile picture   ------>
  <div class="profile-picture">
    <img [src]="imgUrl" alt="profile picture" />
    <label for="image" class="visibly-hidden">Profile picture</label>
    <input
      type="file"
      id="image"
      name="image"
      (change)="onFileChange($event)"
      accept=".jpg,.jpeg,.png" />
  </div>

  <!------    Email field    ------>
  <label for="email" class="form-label">Email</label>
  <input
    id="email"
    type="email"
    class="global-input-auth {{ getEmailErrors() ? 'error' : '' }}"
    placeholder="ella.naizer@amalitech.org"
    [ngModel]="email"
    formControlName="email" />
  @if(getEmailErrors()){
  <div class="validation-error-message">
    {{ getEmailErrors() }}
  </div>
  }

  <!------    First name field    ------>
  <label for="firsName" class="form-label">First Name</label>
  <input
    id="firsName"
    type="text"
    class="global-input-auth {{ getNameErrors('firstName') ? 'error' : '' }}"
    placeholder="Ella"
    formControlName="firstName" />
  @if(getNameErrors('firstName')){
  <div class="validation-error-message">
    {{ getNameErrors('firstName') }}
  </div>
  }

  <!------    Last name field    ------>
  <label for="lastName" class="form-label">Last Name</label>
  <input
    id="lastName"
    type="text"
    class="global-input-auth {{ getNameErrors('lastName') ? 'error' : '' }}"
    placeholder="Naizer"
    formControlName="lastName" />
  @if(getNameErrors('lastName')){
  <div class="validation-error-message">
    {{ getNameErrors('lastName') }}
  </div>
  }

  <!------    Phone number field    ------>
  <label for="phoneNumber" class="form-label">Phone number</label>
  <input
    id="phoneNumber"
    type="tel"
    class="global-input-auth {{ getNumberErrors() ? 'error' : '' }}"
    pattern="[0-9]{10}"
    maxlength="10"
    placeholder="0512345678"
    formControlName="phoneNumber" />
  @if(getNumberErrors()){
  <div class="validation-error-message">
    {{ getNumberErrors() }}
  </div>
  }
  <button type="submit" class="global-button-auth">GET STARTED</button>
</form>
