h2,
p,
label {
  color: #3d4a5c;
}

h2,
p {
  margin-bottom: 28px;
}

h2 {
  font-size: 2.5rem;
}

.profile-picture {
  width: 120px;
  height: 120px;
  position: relative;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

input[type='file'] {
  opacity: 0;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: all;
}

@media only screen and (max-height: 700px) {
  h2,
  p {
    margin-bottom: 15px;
  }

  h2 {
    font-size: 2rem;
  }

  .profile-picture {
    width: 110px;
    height: 110px;
  }

  .global-input-auth {
    padding: 0.45rem 0.75rem !important;
    font-size: 0.95rem !important;
    border-radius: 10px !important;
  }

  .form-label {
    font-size: 0.95rem !important;
    margin: 8px 0px !important;
  }
}
