<div class="settings page">
  <div class="toggle">
    <h3
      [class]="settingsField === 'profile' ? 'active' : ''"
      (click)="changeField($event, 'profile')">
      My Profile
    </h3>
    <h3
      [class]="settingsField === 'password' ? 'active' : ''"
      (click)="changeField($event, 'password')">
      Password
    </h3>
    <h3
      [class]="settingsField === 'work specialization' ? 'active' : ''"
      (click)="changeField($event, 'work specialization')">
      Work Specialization
    </h3>
  </div>
  @if (settingsField === 'profile') {
  <user-profile></user-profile>
  } @else if (settingsField === 'password') {
  <user-password></user-password>
  } @else if (settingsField === 'work specialization') {
  <work-specialization></work-specialization>
  }
</div>
