<div class="global-modal-overlay">
  <div class="global-modal edit-modal">
    <div class="modal-header">
      <div>
        <h2>Employee</h2>
      </div>
      <!-- <button (click)="toggleModalDisplay()">Close</button> -->
      <button>Close</button>
    </div>
    <div class="modal-content">
      <div class="info-section">
        <div>
          <img
            src="assets/images/user/avatar.svg"
            alt="Avatar"
            class="avatar" />
        </div>
        <div></div>
      </div>

      <img src="../../../assets/images/plus-button.svg" alt="plus" />
    </div>
  </div>
</div>
