<form [formGroup]="userPasswordForm" (submit)="submitForm($event)">
  <div class="message-container">
    @if (signalValues.success && signalValues.success.message) {
    <div class="success-message">
      {{ signalValues.success.message }}
    </div>
    } @if (signalValues.error && signalValues.error.message) {
    <div class="error-message">
      {{ signalValues.error.message }}
    </div>
    }
  </div>
  <div>
    <h5>Password</h5>
    <p>Update your password here</p>
  </div>

  <div class="input-section">
    <div>
      <h5>Current Password*</h5>
      <p>Enter to make changes to this page</p>
    </div>
    <div>
      <input
        id="current_password"
        type="{{ passwordField }}"
        class="input-settings"
        placeholder="Enter current password"
        formControlName="current_password" />
    </div>
  </div>

  <div class="input-section">
    <div>
      <h5>New Password</h5>
      <p>Enter to make changes to this page</p>
    </div>
    <div>
      <input
        id="password"
        type="{{ passwordField }}"
        class="input-settings"
        placeholder="Enter new password"
        formControlName="password" />
      @if(getPasswordErrors()) {
      <div class="validation-error-message">
        {{ getPasswordErrors() }}
      </div>
      }
    </div>
  </div>

  <div class="input-section">
    <div>
      <h5>Confirm New Password</h5>
      <p>Enter to make changes to this page</p>
    </div>
    <div>
      <input
        id="password_confirmation"
        type="{{ confirmPasswordField }}"
        class="input-settings"
        placeholder="Confirm new password"
        formControlName="password_confirmation" />
      @if (getConfirmPasswordErrors()) {
      <div class="validation-error-message">
        {{ getConfirmPasswordErrors() }}
      </div>
      }
    </div>
  </div>

  <div class="button-container">
    <button
      type="reset"
      class="password-button-settings bg-[#FFFFFF] text-[#022F54] hover:bg-[#e6e6e6]">
      Cancel
    </button>
    <button
      type="submit"
      class="password-button-settings bg-[#022F54] text-white hover:bg-[#1b4465]">
      Save
    </button>
  </div>
</form>
