p {
  margin-bottom: 60px;
}

p {
  color: #728197;
  font-size: 0.8rem;
  font-weight: 400;
  display: block;
}

h5 {
  color: #022f54;
}

.input-section {
  display: flex;
}

.input-section > div {
  flex: 0.42;
}

.button-container {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.message-container {
  position: fixed;
  top: 20%;
  right: -2%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.success-message {
  color: #76bf4c;
}

.error-message {
  color: #fc2e20;
}
