<div>
  <h2>Set a new password</h2>
  <p>Must be at least 8 characters</p>
  <form (submit)="submitForm($event)" [formGroup]="setNewPasswordForm">
    <label for="password" class="form-label">Password</label>
    <div class="password-input">
      <global-input
        id="password"
        type="'{{ passwordField }}'"
        class="global-input-auth {{ getPasswordErrors() ? 'error' : '' }}"
        placeholder="Enter password"
        formControlName="password" />
      @if(getPasswordErrors()){
      <div class="validation-error-message">
        {{ getPasswordErrors() }}
      </div>
      }
      <img
        (click)="showPassword = !showPassword"
        src="../../../../assets/images/auth/EyeSlash.svg"
        alt="show password" />
    </div>
    <label for="confirmPassword" class="form-label">Confirm Password</label>
    <div class="password-input">
      <input
        id="'confirmPassword'"
        type="'{{ confirmPasswordField }}'"
        class="global-input-auth {{
          getConfirmPasswordErrors() ? 'error' : ''
        }}"
        placeholder="Enter password"
        formControlName="password_confirmation" />
      @if(getConfirmPasswordErrors()){
      <div class="validation-error-message">
        {{ getConfirmPasswordErrors() }}
      </div>
      }
      <img
        (click)="showConfirmPassword = !showConfirmPassword"
        src="../../../../assets/images/auth/EyeSlash.svg"
        alt="show confirm password" />
    </div>
    <button type="submit" class="global-button-auth">RESET PASSWORD</button>
  </form>
</div>
