<div>
  @if(successMessage){
  <div class="validation-success-message backend">
    {{ successMessage }}
  </div>
  } @if (errors) {
  <div class="validation-error-message backend">
    {{ errors.message }}
  </div>
  }
  <h2>Set a new password</h2>
  <p>Must be at least 8 characters</p>
  <form (submit)="submitForm($event)" [formGroup]="resetPasswordForm">
    <label for="password" class="form-label">Password</label>
    <div class="password-input">
      <input
        id="password"
        type="{{ passwordField }}"
        class="global-input-auth {{ getPasswordErrors() ? 'error' : '' }}"
        placeholder="Enter password"
        formControlName="password" />
      @if(getPasswordErrors()){
      <div class="validation-error-message">
        {{ getPasswordErrors() }}
      </div>
      }
      <img
        (click)="toggleShowPassword()"
        [src]="
          showPassword
            ? '../../../../assets/images/auth/EyeOpen.svg'
            : '../../../../assets/images/auth/EyeSlash.svg'
        "
        alt="show password" />
    </div>
    <label for="confirmPassword" class="form-label">Confirm Password</label>
    <div class="password-input">
      <input
        id="'confirmPassword'"
        type="{{ confirmPasswordField }}"
        placeholder="'Confirm password'"
        class="global-input-auth {{ getPasswordErrors() ? 'error' : '' }}"
        formControlName="password_confirmation" />
      @if(getConfirmPasswordErrors()){
      <div class="validation-error-message">
        {{ getConfirmPasswordErrors() }}
      </div>
      }
      <img
        (click)="toggleShowPassword()"
        [src]="
          showPassword
            ? '../../../../assets/images/auth/EyeOpen.svg'
            : '../../../../assets/images/auth/EyeSlash.svg'
        "
        alt="show confirm password" />
    </div>
    <button
      type="submit"
      class="global-button-auth"
      style="font-family: 'LexendMedium'">
      RESET PASSWORD
    </button>
  </form>
</div>
