h2,
p,
a,
label {
  color: #3d4a5c;
}

a {
  display: flex;
  align-items: center;
  margin-top: 34px;
  justify-content: center;
  gap: 10px;
  margin-left: -10px;
  text-decoration: none;
}

h2 {
  margin-bottom: 28px;
  font-family: 'LexendBold';
}

p {
  margin-bottom: 34px;
}

h2 {
  font-size: 2.5rem;
}

.password-input {
  position: relative;
}

input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
  display: none;
}

input[type='password']::-webkit-inner-spin-button,
input[type='password']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='password']::-webkit-search-cancel-button,
input[type='password']::-webkit-search-decoration,
input[type='password']::-webkit-search-results-button,
input[type='password']::-webkit-search-results-decoration {
  display: none;
}

.password-input img {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

rect.weak {
  fill: red;
}

rect.medium {
  fill: yellow;
}

rect.strong {
  fill: green;
}

/* SMALLER DESKTOP */
@media only screen and (max-height: 700px) {
  .password-input img {
    top: 4px;
  }
  h2 {
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 26px;
  }

  a {
    margin-top: 26px;
  }
}
