h2,
p,
label {
  color: #3d4a5c;
}

.drl {
  margin-top: 34px;
  text-align: center;
}

span {
  color: #1f26a8;
  cursor: pointer;
}

h2 {
  margin-bottom: 28px;
  font-family: 'LexendBold';
}

p {
  margin-bottom: 34px;
}

h2 {
  font-size: 2.5rem;
}

.otp-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.otp-input {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #e0edff;
  margin: 5px;
}

input {
  text-align: center;
  font-family: 'LexendSemibold';
  width: 100%;
  height: 100%;
  font-size: 20px;
  border: 1px solid #e0edff;
}

.input:focus {
  outline: var(--colors-primary-slate-500);
}

@media only screen and (max-height: 700px) {
  h2 {
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 26px;
  }

  a,
  .drl {
    margin-top: 26px;
  }
}
