.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 170px;
  background-color: white;
  border-radius: 12px;
  padding: 24px;
  z-index: 21;
  opacity: 1;

  &.closed,
  &.opening {
    opacity: 0;
    pointer-events: none;
  }
}

* {
  transition: all 0.3s ease-in-out;
}

header > div {
  display: flex;
  gap: 80px;
}

header > div > h2 {
  font-family: 'LexendSemiBold';
  font-size: 1.2rem;
  color: #1a212b;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(203, 212, 225, 0.4);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;

  &.closed,
  &.opening {
    opacity: 0;
    pointer-events: none;
  }
}

.buttons-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 20px;
}

.delete-button {
  padding-top: -20px;
  padding: 12px 16px;
  border-radius: 16px;
  width: 70px;
  cursor: pointer;
  text-align: center;
}

/* .delete-content {
  padding: 20px;
} */

.delete-content {
  padding-top: 20px;
}
