<ng-container *ngIf="loading; else userList">
  <div class="spinner-dots">
    <div class="custom-spinner">
      <div class="spinner-dot"></div>
      <div class="spinner-dot"></div>
      <div class="spinner-dot"></div>
    </div>
  </div>
</ng-container>
<ng-template #userList>
  <div class="user-list-container">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Department</th>
          <!-- <th>Specialization</th> -->
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td style="display: flex">
            <input
              type="checkbox"
              [checked]="false"
              style="
                width: 20px;
                height: 20px;
                margin-right: 8px;
                font-family: 'LexendMedium';
                color: #022f54;
              " />
            <!-- <img src="assets/images/user/avatar-wrap.svg" alt="avatar" /> -->
            {{ user.firstName }} {{ user.lastName }}
          </td>
          <td>{{ user.email }}</td>
          <td>{{ user.roles }}</td>
          <td>{{ user.department }}</td>
          <!-- <td>{{ user.specializations }}</td> -->
          <td>
            <button
              class="actions-btn"
              [cdkMenuTriggerFor]="dropdownOverlay"
              (click)="openEditModal(user)">
              <div class="actions-dot">
                <img src="assets/images/user/dots-v.svg" alt="dots" />
              </div>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button (click)="showAccountsModal = !showAccountsModal">
    Click here to show accounts modal
  </button>
  <button (click)="showEditModal = !showEditModal">
    Click here to show edit modal
  </button>
  <button (click)="showReplaceModal = !showReplaceModal">
    Click here to show replace modal
  </button>
  <main id="accountModal" [class]="showAccountsModal ? 'visible' : ''">
    <div
      class="backdrop"
      (click)="showAccountsModal = !showAccountsModal"></div>
    <div class="modal">
      <div class="modal-header">
        <h2 style="font-family: 'LexendMedium'; padding: 20px">Employee</h2>
      </div>
      <div class="modal-content">
        <div class="user-basic-details">
          <img src="assets/images/user/avatar.svg" alt="avatar" />
          <div>
            <p>Joseph Kwarteng</p>
            <p>josephgmail</p>
            <p>UI/UX Designer</p>
          </div>
          <div class="badge">
            <button
              style="
                border-radius: 6px;
                background: #f2f5ff;
                padding: 2px 8px;
                justify-content: center;
                align-items: center;
                color: #4a72ff;
              ">
              Edit
            </button>
          </div>
        </div>
      </div>
      <div class="toggle">
        <p>General</p>
        <p>Normal Availability</p>
      </div>
      <div class="more-details">
        <div>
          <h5>Capacity</h5>
          <p style="color: #5e718d">(GMT +0) UTC</p>
        </div>
        <div>
          <h5>Notes</h5>
          <p style="color: #5e718d">60</p>
        </div>
        <div>
          <h5>Assigned Project</h5>
          <p style="color: #5e718d">Notes</p>
        </div>
        <div>
          <h5>Assigned Clients</h5>
          <p style="color: #5e718d">Capstone</p>
        </div>
      </div>
    </div>
  </main>
  <main id="editModal" [class]="showEditModal ? 'visible' : ''">
    <div class="backdrop" (click)="showEditModal = !showEditModal"></div>
    <div class="modal">Edit modal content goes here</div>
  </main>
  <main id="replaceModal" [class]="showReplaceModal ? 'visible' : ''">
    <div class="backdrop" (click)="showReplaceModal = !showReplaceModal"></div>
    <div class="modal">Replace Modal Content goes here</div>
  </main>
</ng-template>
<ng-template #dropdownOverlay>
  <div class="dropdown-container">
    <div class="overlay overlay-dropdown overlay-fall" cdkMenu>
      <ul>
        <li
          class="dropdown-details-container"
          *ngFor="let modal of dropdownModal"
          cdkMenuItem>
          <div>
            <div class="dropdown-subject">
              {{ modal.label }}
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</ng-template>
