<div class="div-12">
  <div class="div-13">
    <div class="div-14">Users</div>
    <div class="div-15">
      <div class="div-16">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/cc3dcd034fe216a1472f29e1d3223532c3a34f6450c170ace48b49bb3462093c?apiKey=ec472716d2e845e4bd782a888378d8ff&"
          class="plus-sign" />
        <div class="div-17">Assign</div>
      </div>
      <div class="div-18">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/a8c50d69e11810f44f68e7f6c20dc1b57ac38c96acc0a41832caeb03f154100b?apiKey=ec472716d2e845e4bd782a888378d8ff&"
          class="plus-sign" />
        <button (click)="openUserCreationForm()">
          <div class="div-19">New</div>
        </button>
      </div>
    </div>
  </div>

  <div class="content-wrapper">
    <div class="column">
      <div class="div-23">No User Added Yet</div>
      <div class="div-24">
        It looks like there are no users in your list. Start managing your users
        by adding a new one.
      </div>
      <div class="div-25" (click)="openUserCreationForm()">
        Add Your First User
      </div>
    </div>
    <div class="image-section">
      <img
        loading="lazy"
        src="../../../../../assets/images/admin/add-users-illustration.svg"
        alt="Add User Illustration"
        class="add-user-image" />
    </div>
  </div>
</div>
