<ng-container *ngIf="loading; ">
  <div class="spinner-dots">
    <div class="custom-spinner">
      <div class="spinner-dot"></div>
      <div class="spinner-dot"></div>
      <div class="spinner-dot"></div>
    </div>
  </div>
</ng-container>
<div *ngIf="successMessage" class="success-message">
  {{ successMessage }}
</div>
<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>

<div class="project-list-container">
  <table class="project-table">
    <thead>
      <tr>
        <th>Client Name</th>
        <th>Project Name</th>
        <th>Project Code</th>
        <th>Assigned People</th>
        <th>Billable</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects " (click)="openProjectDetailsModal(project)">
        <td class="grid-item" (click)="openProjectDetailsModal(project)">{{ project.client }}</td>
        <td class="grid-item"  >{{ project.name }}</td>
        <td class="grid-item">{{ project.projectCode }}</td>
        <td class="grid-item">
          <div class="flex -space-x-4 rtl:space-x-reverse">
            <ng-container *ngFor="let employee of project.employees">
              <div class="relative">
                <img
                  class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
                  [src]="employee.picture"
                  alt=""
                />
                <div
                  class="absolute bottom-0 left-0 right-0 bg-gray-700 text-xs text-white opacity-0 transition-opacity duration-300 hover:opacity-100 rounded-b-full hidden group"
                >
                  <p class="p-2">{{ employee.name }}</p>
                </div>
              </div>
            </ng-container>
          </div>
        </td>
        <td class="grid-item">{{ project.billable ? 'Yes' : 'No' }}</td>
        <td class="grid-item">
          <!-- <button class="actions-btn" (click)="deleteProject(project.projectCode)">
            Delete
          </button> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>
<pagination
[currentPage]="currentPage"
[totalPages]="totalPages"
(pageChange)="onPageChange($event)"></pagination>
