<ng-container *ngIf="loading; else projectList">
  <div class="spinner-dots">
    <div class="custom-spinner">
      <div class="spinner-dot"></div>
      <div class="spinner-dot"></div>
      <div class="spinner-dot"></div>
    </div>
  </div>
</ng-container>
<div *ngIf="successMessage" class="success-message">
  {{ successMessage }}
</div>
<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>
<ng-template #projectList>
  <div class="project-list-container">
    <table class="project-table">
      <thead>
        <tr>
          <th>Client Name</th>
          <th>Project Name</th>
          <th>Project Code</th>
          <th>Assigned People</th>
          <th>Billable</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects">
          <td class="grid-item">{{ project.client }}</td>
          <td class="grid-item">{{ project.name }}</td>
          <td class="grid-item">{{ project.projectCode }}</td>
          <td class="grid-item"></td>
          <td class="grid-item" style="text-transform: capitalize">
            {{ project.billable }}
          </td>
          <td class="grid-item">
            <button class="actions-btn">
              <div class="actions-dot" (click)="openAssignModal(project)">
                <!-- <img src="assets/images/user/dots-v.svg" alt="dots" /> -->
                <div class="dropdown-container">
                  <!-- <ul>
                    <li>Assign</li>
                    <li>Edit</li>
                    <li>Archive</li>
                  </ul> -->
                </div>
                Assign
              </div>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
