.project-list-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}

.grid-item {
  padding: 17px;
  color: #5e718d;
}

.checkbox-input {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  font-family: 'LexendMedium';
  color: #022f54;
}

.project-list-container {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.total-projects {
  font-size: 12px;
  margin-top: -38px;
  padding-bottom: 20px;
  color: #5e718d;
  margin-left: 45px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 8px;
  overflow: hidden;
}

thead {
  background-color: #f0f2f5;
}

th,
td {
  text-align: left;
  padding: 20px;
  font-size: 12px;
  color: #3d4a5c;
  border-bottom: 1px solid #f0f2f5;
}

td {
  background: #fff;
  cursor: pointer;
}

.container {
  display: flex;
  width: 32px;
  height: 32px;
  border: 1px solid red;
}

.custom-spinner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.spinner-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20%;
}

.spinner-dot {
  width: 15px;
  height: 15px;
  background-color: #1f26a8;
  border-radius: 50%;
  margin: 0 5px;
  animation: spin 0.8s infinite ease-in-out;
}

@keyframes spin {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.actions-dot {
  width: 16px;
  height: 16px;
}

.actions-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

tbody tr td img {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.button-settings {
  padding: 12px 16px;
  border-radius: 16px;
  border: 1px solid #9aa8bc;
  width: 100px;
  cursor: pointer;
}

.success-message {
  color: green;
  margin-bottom: 10px;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}
