<h4>Personal Info</h4>
<p>Update your personal details here</p>
<form (submit)="submitForm($event)" [formGroup]="userDetails">
  <div class="message-container">
    @if (signalValues.success) {
    <div class="success-message">
      {{ signalValues.success.message }}
    </div>
    } @if (signalValues.error) {
    <div class="error-message">
      {{ signalValues.error.message }}
    </div>
    }
  </div>

  <div class="profile-picture">
    <img [src]="imgUrl" alt="profile picture" />
    <div class="camera-icon">
      <label for="image" class="visibly-hidden">Profile picture</label>
      <input
        type="file"
        id="image"
        name="image"
        (change)="onFileChange($event)"
        accept=".jpg,.jpeg,.png" />
      <img
        src="../../../../../assets/images/user/icon_camera-sharp.svg"
        alt="camera" />
      Upload Picture
    </div>
  </div>

  <div class="d-grid">
    <div>
      <label for="firsName">FIRST NAME</label>
      <input
        id="firsName"
        type="text"
        class="input-settings {{ getNameErrors('firstName') ? 'error' : '' }}"
        placeholder="Enter first name"
        formControlName="firstName" />
      @if(getNameErrors('firstName')){
      <div class="validation-error-message">
        {{ getNameErrors('firstName') }}
      </div>
      }
    </div>

    <div>
      <label for="lastName">LAST NAME</label>
      <input
        id="lastName"
        type="text"
        class="input-settings {{ getNameErrors('lastName') ? 'error' : '' }}"
        placeholder="Enter last name"
        formControlName="lastName" />
      @if(getNameErrors('lastName')){
      <div class="validation-error-message">
        {{ getNameErrors('lastName') }}
      </div>
      }
    </div>

    <div>
      <label for="email">EMAIL</label>
      <input
        id="email"
        type="email"
        class="input-settings {{ getEmailErrors() ? 'error' : '' }}"
        placeholder="something@example.com"
        formControlName="email" />
      @if(getEmailErrors()){
      <div class="validation-error-message">
        {{ getEmailErrors() }}
      </div>
      }
    </div>

    <div>
      <label for="phoneNumber">PHONE NUMBER</label>
      <input
        id="phoneNumber"
        type="tel"
        class="input-settings {{ getNumberErrors() ? 'error' : '' }}"
        pattern="[0-9]{10}"
        maxlength="10"
        placeholder="Enter phone number"
        formControlName="phoneNumber" />
      @if(getNumberErrors()){
      <div class="validation-error-message">
        {{ getNumberErrors() }}
      </div>
      }
    </div>
  </div>

  <div class="buttons">
    <button
      type="reset"
      class="button-settings bg-[#FFFFFF] text-[#022F54] hover:bg-[#e6e6e6]">
      Reset
    </button>
    <button
      type="submit"
      class="button-settings bg-[#022F54] text-white hover:bg-[#1b4465]">
      Update Profile
    </button>
  </div>
</form>
