<div class="global-pages-auth">
  <div class="global-illustration-left">
    <login-side-illustration
      imgUrl="../../../../assets/images/auth/Man Working on laptop.png"></login-side-illustration>
  </div>
  <div class="global-formfield-right">
    <div class="global-forms-auth">
      @if (formField === 'email') {
      <email-form></email-form>
      } @else if (formField === 'otp') {
      <otp-form></otp-form>
      } @else if (formField === 'changePassword') {
      <reset-password-form></reset-password-form>
      }
      <a routerLink="/login">
        <img
          src="../../../../assets/images/auth/arrow-left.svg"
          alt="arrow-left" />
        Back to log in
      </a>
    </div>
  </div>
</div>
