<div class="modal-overlay" *ngIf="isOpen">
  <div
    *ngIf="isOpen"
    class="items-center form-size flex flex-col justify-center px-16 py-10 max-md:px-5">
    <div class="messages-container mt-1 flex items-center">
      <ul
        class="max-w-md space-y-2 text-gray-500 list-inside dark:text-gray-400">
        <li *ngIf="success" class="flex items-center">
          <svg
            class="w-4 h-8 me-2 text-green-500 dark:text-green-400 flex-shrink-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20">
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
          </svg>
          <span class="whitespace-nowrap">User Created Successfully </span>
        </li>
        <li *ngIf="error" class="flex items-center mt-4">
          <svg
            class="w-4 h-8 text-red-800 dark:text-red"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 18">
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M7 8a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm-2 3h4a4 4 0 0 1 4 4v2H1v-2a4 4 0 0 1 4-4Z" />
          </svg>
          <span class="whitespace-nowrap">Error Creating User </span>
        </li>
        <li *ngIf="loading" class="flex items-center">
          <div role="status">
            <svg
              aria-hidden="true"
              class="w-4 h-12 me-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
              viewBox="0 0 100 101"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                fill="currentColor" />
              <path
                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                fill="currentFill" />
            </svg>
            <span class="sr-only">Loading...</span>
          </div>
          <span class="whitespace-nowrap">Creating User </span>
        </li>
      </ul>
    </div>
    <div *ngIf="errorMessages.roles" class="text-red-500 text-sm leading-5">
      {{ errorMessages.roles }}
    </div>
    <div *ngIf="errorMessages.email" class="text-red-500 text-sm leading-5">
      {{ errorMessages.email }}
    </div>
    <form autocomplete="off" [formGroup]="formData">
      <div
        class="justify-center items-center shadow-lg bg-white flex max-w-full flex-col p-6 rounded-xl max-md:my-8 max-md:px-1">
        <div
          class="self-stretch flex justify-between gap-5 px-px items-start max-md:max-w-full max-md:flex-wrap">
          <div
            class="text-slate-700 text-1xl font-semibold leading-6 grow shrink basis-auto">
            Add Project
          </div>
          <button>
            <img
              (click)="closeUsercreationModal()"
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/050c97bbe6a9bf7a65d1fdc9144a50f0141edf534cb48f78a8700baca522cd54?apiKey=ec472716d2e845e4bd782a888378d8ff&"
              class="aspect-square object-contain object-center w-3 overflow-hidden shrink-0 max-w-full" />
          </button>
        </div>
        <!-- <div
              class="text-slate-700 text-xs py-1 leading-5 self-stretch w-full mr-2.5 mt-2 max-md:max-w-full">
              <label for="roles">Set Permissions</label>
              <span class="text-red-500">*</span>
            </div>
            <div class="custom-dropdown" [class.active]="rolesDropdownOpen">
              <input
                formControlName="roles"
                id="roles"
                name="roles"
                class="text-slate-500 text-base leading-6 grow shrink basis-auto w-full py-1 focus:border-white"
                placeholder="Select a role"
                readonly
                (click)="toggleRolesDropdown()"
              />
              <span class="dropdown-sign"><img src="../../../../../assets/images/admin/Chevron Down.svg"></span>
              <ul class="dropdown-list" *ngIf="rolesDropdownOpen">
                <li value="basic_user " (click)="selectRole('Basic User')">Basic User</li>
                <li value="manager " (click)="selectRole('Manager')">Manager</li>
              </ul>
            </div> -->
        <div
          class="text-red-500 text-xs leading-5 self-stretch py-2 w-full mr-2.5 mt-2 max-md:max-w-full">
          <label for="name" class="text-slate-700">Name</label>
        </div>
        <div class="custom-dropdown">
          <input
            formControlName="name"
            type="name"
            id="name"
            name="name"
            placeholder="Enter the name to the Client"
            class="text-slate-500 text-base leading-6 grow shrink basis-auto w-full py-1 focus:border-white" />
        </div>
        <div
          class="text-red-500 text-xs leading-5 self-stretch py-2 w-full mr-2.5 mt-2 max-md:max-w-full">
          <label for="name" class="text-slate-700">Client</label>
        </div>
        <div class="custom-dropdown">
          <span class="search-icon">
            <img
              src="../../../../../assets/images/admin/Search.svg"
              alt="Search Icon"
          /></span>
          <input
            formControlName="clientSearch"
            autocomplete="off"
            type="text"
            id="clientSearch"
            placeholder="Search..."
            (click)="showClientDropdown = true"
            (input)="filterClients()"
            class="search-input text-slate-500 text-base leading-6 grow shrink basis-auto w-full p-6" />
          <span class="dropdown-sign"
            ><img src="../../../../../assets/images/admin/Chevron Down.svg"
          /></span>
          <div class="client-dropdown" *ngIf="showClientDropdown">
            <ul>
              <li
                *ngFor="let client of filteredClients"
                (click)="selectClient(client)">
                {{ client.name }}
                <input type="hidden" formControlName="clientId" />
              </li>
            </ul>
          </div>
        </div>


        <div
          class="text-red-500 text-xs leading-5 self-stretch py-2 w-full mr-2.5 mt-2 max-md:max-w-full">
          <label for="details" class="text-slate-700">Details</label>
          <span class="text-red-500">*</span>
        </div>
        <div class="custom-dropdown">
          <textarea
            details
            formControlName="details"
            type="details"
            id="details"
            name="details"
            placeholder="Enter a description of the client"
            class="text-slate-500 text-base leading-6 grow shrink basis-auto w-full py-1 focus:border-white">
          </textarea>
        </div>

        <div
          class="items-stretch flex gap-2 mt-2 pr-20 py-1 self-start max-md:max-w-full max-md:flex-wrap max-md:pr-5">
          <!-- <div class="flex items-center">
              <input
                checked
                id="checked-checkbox"
                type="checkbox"
                value=""
                class="w-3 h-3 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />
            </div> -->
          <div class="text-slate-700 text-xs leading-2 grow whitespace-nowrap">
            Assign Empolyees
          </div>
        </div>

        <div class="flex">
          <!-- Start Date -->
          <div class="flex flex-col mr-2.5 mt-2 max-md:max-w-full">
            <div
              class="text-red-500 text-xs leading-5 self-stretch py-2 w-full">
              <label for="startDate" class="text-slate-700">Start date</label>
            </div>
            <div class="dates">
              <input
                formControlName="startDate"
                type="date"
                id="startDate"
                name="startDate"
                placeholder=""
                class="text-slate-500 text-base leading-6 grow shrink basis-auto w-full py-1 focus:border-white" />
            </div>
          </div>

          <!-- End Date -->
          <div class="flex flex-col mr-2.5 mt-2 max-md:max-w-full">
            <div
              class="text-red-500 text-xs leading-5 self-stretch py-2 w-full">
              <label for="endDate" class="text-slate-700">End date</label>
            </div>
            <div class="dates">
              <input
                formControlName="endDate"
                type="date"
                id="endDate"
                name="endDate"
                placeholder=""
                class="end-date text-slate-500 text-base leading-6 grow shrink basis-auto w-full py-1 focus:border-white" />
            </div>
          </div>
        </div>
     
        <div class="text-red-500 text-xs leading-5 self-stretch pt-6 w-full">
          <label for="ProjectType" class="text-slate-700">Project Status</label>
        </div>
        <div class="flex justify-start items-start py-1 w-full">
          <div class="flex items-center me-4">
            <input
              formControlName="projectType"
              id="internal-radio"
              type="radio"
              value="Internal"
              name="projectType"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />
            <label
              for="Internal"
              class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >Internal</label
            >
          </div>
          <div class="flex items-center me-4">
            <input
            formControlName="projectType"
              id="external-radio"
              type="radio"
              value="External"
              name="projectType"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />
            <label
              for="External"
              class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >External</label
            >
          </div>
        </div>

        <span class="text-500 text-xs leading-5 self-stretch pt-4 w-full"
          >Billable</span
        >
        <div class="flex justify-start items-start w-full">
          <label class="relative inline-flex items-center cursor-pointer">
            <input type="checkbox"formControlName="billable" value="on" name="billable" class="sr-only peer" checked />
            <div
              class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
          </label>
        </div>


        <div class="justify-end items-stretch flex gap-4 mt-1 py-1 self-end">
          <div class="justify-end items-stretch flex gap-4 mt-1 self-end">
            <button
              type="button"
              class="text-sky-950 text-xs leading-6 whitespace-nowrap justify-center items-stretch border border-[color:var(--outline-input-enabled,#9AA8BC)] bg-white bg-opacity-0 grow px-3 py-1 rounded-xl border-solid"
              (click)="closeUsercreationModal()">
              Cancel
            </button>
            <button
              type="button"
              class="text-white text-xs font-medium leading-6 whitespace-nowrap justify-center items-stretch bg-indigo-800 aspect-[1.3333333333333333] px-2 py-1 rounded-xl"
              [disabled]="loading"
              (click)="OnCreateProject()">
              Add
            </button>
          </div>
        </div>
      </div>
    </form>

    <!-- <app-specialization-modal [isOpen]="specializationModalOpen" (saveSpecialization)="handleAddSpecialization($event)"></app-specialization-modal>
        <app-department-modal [isOpen]="departmentModalOpen" (saveDepartment)="handleAddDepartment($event)"></app-department-modal> -->
  </div>
</div>
