<div class="modal">
  <div class="modal-container">
    <div class="modal-header">
      <h1>Employee</h1>
      <img
        src="assets/images/user/x-close.svg"
        alt="close icon"
        style="cursor: pointer"
        (click)="closeModal()" />
    </div>
    <div class="modal-content">
      <div class="user-basic-details">
        <img src="assets/images/user/avatar.svg" alt="avatar" />

        <div>
          <p style="color: #5e718d">{{ selectedUser?.email }}</p>
        </div>
        <div class="badge">
          <button
            style="
              border-radius: 6px;
              background: #f2f5ff;
              padding: 2px 8px;
              justify-content: center;
              align-items: center;
              color: #4a72ff;
            ">
            Edit
          </button>
        </div>
      </div>
    </div>
    <div class="toggle">
      <div class="toggle">
        <button
          [ngClass]="{
            'toggle-button': true,
            'toggle-button-active': activeView === 'general',
            'toggle-button-not-active': activeView !== 'general'
          }"
          (click)="toggleView('general')">
          General
        </button>
        <button
          [ngClass]="{
            'toggle-button': true,
            'toggle-button-active': activeView === 'availability',
            'toggle-button-not-active': activeView !== 'availability'
          }"
          (click)="toggleView('availability')">
          Normal Availability
        </button>
      </div>
    </div>

    <div *ngIf="activeView === 'availability'"></div>
  </div>
</div>
